{% trans_default_domain 'FOSUserBundle' %}

{% block errorMessage %}
    {% if error %}
        {% if error.messageKey == 'Account is disabled.' %}
            {% set message = 'security.unactivated_account'|trans({'%confirmationUrl%': path('fos_user_send_confirmation', {email: error.user.email})}, 'FOSUserBundle') %}
        {% else %}
            {% set message = error.messageKey|trans(error.messageData, 'security') %}
        {% endif %}

        {% include '@VanioUser/partials/alert.html.twig' with {type: 'danger'} %}
    {% endif %}
{% endblock %}

{% block form %}
    <form action="{{ path('fos_user_security_check') }}" method="POST" {% block formAttributes %}class="fos_user_security_login" data-component-native-validation{% endblock %}>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {% if vanio_user.pass_target_path.enabled %}
            {% set targetPath = target_path() %}

            {% if targetPath %}
                <input type="hidden" name="{{ vanio_user.pass_target_path.target_path_parameter }}" value="{{ targetPath }}">
            {% endif %}
        {% endif %}

        {% block socialAuthentication %}
            {% if vanio_user.social_authentication %}
                <div class="social-authentication form-header">
                    <p>{{ 'security.login.social_authentication'|trans }}</p>
                    {% include '@VanioUser/Security/social_authentication.html.twig' %}
                </div>
            {% endif %}
        {% endblock %}

        {% block formFields %}
            <div class="form-group">
                {% set property = vanio_user.email_only ? 'email' : 'username' %}
                {% set addon = is_translated("security.login.#{property}.addon", 'FOSUserBundle') ? "security.login.#{property}.addon"|trans|raw : null %}
                <label class="control-label" for="loginUsername">{{ "security.login.#{property}.label"|trans }}</label>

                {% if addon %}
                    <div class="input-group"><span class="input-group-addon">{{ addon|raw }}</span>
                {% endif %}

                <input
                    id="loginUsername"
                    class="form-control"
                    type="{{ vanio_user.email_only ? 'email' : 'text' }}"
                    name="_username"
                    value="{{ last_username }}"
                    {% if is_translated("security.login.#{property}.placeholder", 'FOSUserBundle') %} placeholder="{{ "security.login.#{property}.placeholder"|trans }}"{% endif %}
                    required
                    oninvalid="this.setCustomValidity(this.getAttribute('data-validation-message'))"
                    oninput="this.setCustomValidity('')"
                    data-validation-message="{{ "fos_user.#{property}.blank"|trans({}, 'validators') }}"
                >

                {% if addon %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {% set addon = is_translated('security.login.password.addon', 'FOSUserBundle') ? 'security.login.password.addon'|trans|raw : null %}
                <label class="control-label" for="loginPassword">{{ 'security.login.password.label'|trans }}</label>

                {% if addon %}
                    <div class="input-group"><span class="input-group-addon">{{ addon|raw }}</span>
                {% endif %}

                <input
                    id="loginPassword"
                    class="form-control"
                    type="password"
                    name="_password"
                    {% if is_translated('security.login.password.placeholder', 'FOSUserBundle') %} placeholder="{{ 'security.login.password.placeholder'|trans }}"{% endif %}
                    required
                    oninvalid="this.setCustomValidity(this.getAttribute('data-validation-message'))"
                    oninput="this.setCustomValidity('')"
                    data-validation-message="{{ 'fos_user.password.blank'|trans({}, 'validators') }}"
                >

                {% if addon %}
                    </div>
                {% endif %}
            </div>

            <div class="checkbox">
                <label><input type="checkbox" name="_remember_me"><span>{{ 'security.login.remember_me'|trans }}</span><b></b></label>
            </div>

            <div class="form-buttons form-group">
                <button class="btn btn-primary">{{ 'security.login.submit'|trans }}</button>
            </div>
        {% endblock %}

        {% block formFooter %}
            <div class="login-footer form-footer">
                <p>{{ 'security.login.forgot_password'|trans({'%url%': path('fos_user_resetting_request')})|raw }}</p>

                {% if route_exists('fos_user_registration_register') %}
                    <p>{{ 'security.login.register'|trans({'%url%': path('fos_user_registration_register')})|raw }}</p>
                {% endif %}
            </div>
        {% endblock %}
    </form>
{% endblock %}
