{% trans_default_domain 'HWIOAuthBundle' %}

{% block header %}
    <h3>{{ 'header.register'|trans({'%name%': userInformation.realName}) }}</h3>
{% endblock %}

{% block profilePicture %}
    {% if userInformation.profilePicture is not empty %}
        <img src="{{ userInformation.profilePicture }}">
    {% endif %}
{% endblock %}

{% block form %}
    {{ form_start(form, {action: path('hwi_oauth_connect_registration', {key: key}), attr: formAttributes ?? {class: 'hwi_oauth_registration_register'}}) }}
        {% block formFields %}
            {{ form_widget(form) }}
            <div class="form-buttons form-group">
                <button class="btn btn-primary">{{ 'connect.registration.submit'|trans }}</button>
                <a class="btn btn-default" href="{{ referer('fos_user_registration_register') }}">{{ 'connect.registration.cancel'|trans }}</a>
            </div>
        {% endblock %}
    {{ form_end(form) }}
{% endblock %}
