{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="fos_user_user_show">
        {% if user.name is defined %}<p class="name"><span class="term">{{ 'profile.show.name'|trans }}:</span> <span class="description">{{ user.name }}</span></p>{% endif %}
        {% if not vanio_user.email_only %}<p class="username"><span class="term">{{ 'profile.show.username'|trans }}:</span> <span class="description">{{ user.username }}</span></p>{% endif %}
        <p class="email"><span class="term">{{ 'profile.show.email'|trans }}:</span> <span class="description">{{ user.email }}</span></p>
    </div>
{% endblock %}

{% block links %}
    <p class="profile-links">
        <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">{{ 'profile.show.edit'|trans }}</a>
        <a class="btn btn-default" href="{{ path('fos_user_change_password') }}">{{ 'profile.show.change_password'|trans }}</a>

        {% if vanio_user.social_authentication %}
            <a class="btn btn-default" href="{{ path('hwi_oauth_connections') }}">{{ 'profile.show.connect'|trans }}</a>
        {% endif %}
    </p>
{% endblock %}
